/************ Thin Sidebar ************/
.thin-sidebar{
    height: 100vh;
}
.thin-sidebar a{
    height: fit-content;
}
.profile-pic{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: #d8d8d8;
}
.profile-pic i{
    color: grey;
}